[submodule "python"]
	path = python
	url = https://github.com/python/cpython.git
[submodule "openssl"]
	path = openssl
	url = https://github.com/openssl/openssl.git
[submodule "xz"]
	path = xz
	url = https://git.tukaani.org/xz.git
[submodule "zlib"]
	path = zlib
	url = https://github.com/madler/zlib.git
[submodule "sqlite3"]
	path = sqlite3
	url = http://repo.or.cz/sqlite.git
[submodule "bzip2"]
	path = bzip2
	url = https://sourceware.org/git/bzip2.git
